/* GENERAL */

body {
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

h2 {
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Merienda One', 'Lato', sans-serif;
}

h3 {
    font-family: 'Signika', sans-serif;
}


/* TABLEAUX */


#formulaire {
    text-align:center;
	width: 100%;
	overflow-y: visible;
}


#avisId {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
}
#levelId {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}

.champs {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #333333;
	padding-right: 20px;
    padding-top: 20px;
}

.champsadit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #000000;
	padding-right: 20px;
    padding-top: 20px;
}
.champsavis {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #333333;
}

.champsaviscomment {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	color: #333333;
}
.titre {
    margin-top: 10px;
	margin-bottom:10px;
	font-family: 'Merienda One', 'Lato', sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	color: #0099FF;
	line-height: normal;
    text-align: center;

}

.soustitre {
    margin-top: 20px;
	margin-bottom:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: #0099FF;
	line-height: normal;
}

.information {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #0099FF;
	line-height: normal;
}
.messErreur {
    margin-top: 20px;
	margin-bottom:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #db0616;
	line-height: normal;
}


/* ENTETE*/

#entete {
    background-image: url(images/mur-rouleau.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 4px solid #462100;
	background-position: right bottom;
    height: 320px;
}

.logo-bandeau {
    height: 200px;
    padding: 30px;
    margin-bottom: 40px;
    padding: 30px;
}

.logo-bandeau img{
    transition: all 0.2s;
}

.logo-bandeau img:hover{
    transform: scale(1.04);
}

.navbar {
    font-size: 18px;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}



.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    background-image: url(images/nav-icon.png);
    background-size: cover;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 50px solid;
    width: 50px;
    height: 50px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.active {
    display: block;
}


@media screen and (max-width: 768px) {

    #entete {
        background-image: url(images/mur-blanc.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 4px solid #462100;
        height: auto;
    }
    
    .logo-bandeau {
        text-align: center;
        padding-bottom: 0px;
        margin-bottom: 0px;
}
    
    .logo-bandeau img{
    width: 300px;
}
    

}


#adapt-accueil{
    width: 100%;
    height: auto;
}

/*AFFICHAGE GRAND ECRAN*/

@media all and (min-width: 768px) {

    /* MENU ET ENTETE */
    
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        margin-bottom: 10px;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }
    
  
    
    /* FIN MENU ET ENTETE */
    
    /*PRESENTATION AVEC IMAGE ACCUEIL*/

    #accueil {
        background-image: url(images/accueil.jpg);
        background-repeat: repeat;
        background-position: right top;
        background-size: cover;
        height: 800px;

    }
    
    #overlay {
        width: 100%;
        height: 800px;
        background-image: url(images/fond2.png);
        background-position: -750px;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        text-transform: uppercase;
        color: black;
    }

    #overlay div {
        font-size: 1px;
        padding-top: 20%;
        padding-left: 10%;
        padding-right: 60%;
        text-align: center;
        color: #5A2206;
    }

    #overlay div h2,
    h3 {
        color: #301203;
    }

    #accueil-smart, #overlay-smart {
        display: none;
    }
}

/* FIN PRESENTATION*/

/* FIN GRAND ECRAN*/



/* AFFICHAGE SMARTPHONE*/

#accueil-smart {
    background-image: url(images/accueil.jpg);
    background-repeat: repeat;
    background-position: right top;
    background-size: cover;

}
#overlay-smart {
    height: 400px;
    background-image: url(images/fond2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    text-transform: uppercase;
    color: black;
}

#overlay-smart div {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 60%;
    text-align: center;
    color: #5A2206;
}

#overlay-smart div h2{
    font-size: 20px;
    
}

#overlay-smart div h3 {
    color: #301203;
    font-size: 15px;
}


#avis-texte{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0 15%;
}

.carousel-inner .item{
    text-align: center;
    position: centered;
    height: 350px;
}

.carousel-control.left{
    background-image: none;
}

.carousel-control.right{
    background-image: none;
}

.item p{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}


#monCarousel ol li{
    background-color: black;
    color: black;
    
}




/* ACTIVITE*/


#secteurs{
    border-top: 2px solid;
}

#list-sectors {
    
    text-align: center;
}

#activite li {
    text-align: center;
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    margin: 20px 20px;
    transition: all .2s;

}

#activite li:hover {
    transform: scale(1.1);
}

#fournisseurs-titre {
   /* border-bottom: 2px solid black;*/
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0 15%;


}




/*FOOTER*/

#pied{
    background-image: url(images/pied.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    height: 200px;;
}
