/* GENERAL */

body {
    font-family: "Lato", sans-serif;
    font-size: 15px;
}



/* ENTETE*/

#entete {
    height: 100px;
    background-color: grey;
}

/*MENU*/
.navbar-color {
    background-color: darkgrey;
    margin-bottom: 0px;
    border-bottom: 3px solid;
}

.navi {
    border-radius: 0;

}

.navbar-toggle {
    border: 2px solid;
}

.icon-bar {
    background-color: black;
}



#menu ul {
    text-align: center;
}

.nav li {
    text-align: center;
    margin: 5px 30px 5px 30px;
    padding: 5px 5px;
}


.in {
    position: relative;
    display: none;
}

.out {
    position: absolute;
}

/*CONTENT*/

.main {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.accueil {
    background-image: url(images/accueil.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    height: 1000px;

}

#overlay {
    background-image: url(images/fond-accueil.png);
    background-repeat: no-repeat;
    opacity: 0.8;
    height: 100%;
    width:100%;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

#overlay div{
    margin-right: 20%;
    margin-top: 30%;
}




/*FOOTER*/
